export(surfaceExtended)
export(extended_surfaceAICPlot)
importFrom(ape,drop.tip)
importFrom(surface,nameNodes)
importFrom(surface,convertTreeData)
importFrom(surface,surfaceBackward)
importFrom(surface,surfaceSummary)
importFrom(phytools,nodeHeights)
importFrom(OUwie,OUwie)
